## import modules

In [1]:
import pandas as pd

### Author

An Author dataset (Author.csv) with profile information about 250K authors, such as author name and affiliation. The same author can appear more than once in this dataset, for instance because he/she publishes under different versions of his/her name, such as J. Doe, Jane Doe, and J. A. Doe.

| Name | Data Type | Comments |
| :-: | :-: | :-: |
| Id | Int | Id of the author |
| Name | Nvarchar | Author Name | 
| Affiliation | Nvarchar | Organization name with which the author is affiliated. |

In [2]:
author_df = pd.read_csv('../data/dataRev2/Author.csv')

#### display data

In [3]:
print(len(author_df))
author_df.head()

247203

   Id               Name                                Affiliation
0   9      Ernest Jordan                                        NaN
1  14          K. MORIBE                                        NaN
2  15      D. Jakominich                                        NaN
3  25  William H. Nailon                                        NaN
4  37   P. B. Littlewood  Cavendish Laboratory|Cambridge University

#### number of NaN in data

In [4]:
((author_df.isnull().sum(axis=0)).to_frame('MissingCount')).join(author_df.dtypes.to_frame('dtype'))

             MissingCount   dtype
Id                      0   int64
Name                   82  object
Affiliation        150258  object