## import modules

In [1]:
import pandas as pd

### Journal

Since each paper is either a journal, additional metadata about journals is provided where available (Journal.csv).

| Name | Data Type | Comments |
| :-: | :-: | :-: |
| Id | Int | Journal Id |
| ShortName | Nvarchar | Short name |
| Fullname | Nvarchar | Full name |
| Homepage | Nvarchar | Homepage URL of journal |

In [2]:
journal_df = pd.read_csv('../data/dataRev2/Journal.csv')

#### display data

In [3]:
print(len(journal_df))
journal_df.head()

15151

,Id,ShortName,FullName,HomePage
0,1,ICOM,Zeitschrift Für Interaktive Und Kooperative Me...,http://www.i-com-media.de
1,2,AEPIA,"Inteligencia Artificial,revista Iberoamericana...",http://aepia.dsic.upv.es/revista/
2,3,IBMRD,Ibm Journal of Research and Development,http://www-tr.watson.ibm.com/journal/rdindex.html
3,4,IBMSJ,Ibm Systems Journal,http://researchweb.watson.ibm.com/journal/
4,5,NaN,Iet Software/iee Proceedings - Software,http://www.ietdl.org/IET-SEN

#### number of NaN in data

In [4]:
((journal_df.isnull().sum(axis=0)).to_frame('MissingCount')).join(journal_df.dtypes.to_frame('dtype'))

           MissingCount   dtype
Id                    0   int64
ShortName          6854  object
FullName              6  object
HomePage           2118  object