## import modules

In [1]:
import pandas as pd

### paper

A Paper dataset (Paper.csv) with data about 2.5M papers, such as paper title, conference/journal information, and keywords. The same paper may have been obtained through different data sources and hence have multiple copies in the dataset.

| Name | Data Type | Comments |
| :-: | :-: | :-: |
| Id | Int | Id of the paper |
| Title | Nvarchar | Title of the paper | 
| Year | Int | Year of the paper |
| ConferenceId | Int | Conference Id in which paper was published |
| JournalId | Int | Journal Id in which paper was published |
| Keywords | Nvarchar | Keywords of the paper |

In [2]:
paper_df = pd.read_csv('../data/dataRev2/Paper.csv')

#### display data

In [3]:
print(len(paper_df))
paper_df.head()

2257249

,Id,Title,Year,ConferenceId,JournalId,Keyword
0,1,Stitching videos streamed by mobile phones in ...,2009,167,0,mobile video capturing|real-time|video stitching
1,2,A nonlocal convection窶電iffusion equation,2007,0,7234,Nonlocal diffusion; Convection窶電iffusion; Asym...
2,3,Area Effects in Cepaea,1963,0,16867,NaN
3,4,Multiple paternity in a natural population of ...,2005,0,6130,NaN
4,5,Complexity of Finding Short Resolution Proofs,1997,158,0,NaN

#### number of NaN in data

In [4]:
((paper_df.isnull().sum(axis=0)).to_frame('MissingCount')).join(paper_df.dtypes.to_frame('dtype'))

              MissingCount   dtype
Id                       0   int64
Title               161937  object
Year                     0   int64
ConferenceId             0   int64
JournalId                0   int64
Keyword            1726337  object