## import modules

In [1]:
import pandas as pd

### Conference

Since each paper is either a conference, additional metadata about conferences is provided where available (Conference.csv).

| Name | Data Type | Comments |
| :-: | :-: | :-: |
| Id | Int | Conference Id |
| ShortName | Nvarchar | Short name |
| Fullname | Nvarchar | Full name |
| Homepage | Nvarchar | Homepage URL of conf |

In [2]:
conference_df = pd.read_csv('../data/dataRev2/Conference.csv')

#### display data

In [3]:
print(len(conference_df))
conference_df.head()

4545

,Id,ShortName,FullName,HomePage
0,1,IADIS,International Association for Development of t...,NaN
1,2,IADT,Issues and Applications of Database Technology,http://www.informatik.uni-trier.de/~ley/db/con...
2,4,NaN,IBM Germany Scientific Symposium Series,http://www.informatik.uni-trier.de/~ley/db/con...
3,5,ICOMP,International Conference on Internet Computing,http://www.informatik.uni-trier.de/~ley/db/con...
4,6,ICAC,International Conference on Autonomic Computing,http://www.autonomic-conference.org/

#### number of NaN in data

In [4]:
((conference_df.isnull().sum(axis=0)).to_frame('MissingCount')).join(conference_df.dtypes.to_frame('dtype'))

           MissingCount   dtype
Id                    0   int64
ShortName           613  object
FullName             16  object
HomePage            622  object