## import modules

In [1]:
import pandas as pd

### PaperAuthor

A corresponding Paper-Author dataset (PaperAuthor.csv) with (paper ID, author ID) pairs. The Paper-Author dataset is noisy, containing possibly incorrect paper-author assignments that are due to author name ambiguity and variations of author names.

| Name | Data Type | Comments |
| :-: | :-: | :-: |
| PaperId | Int | Paper Id |
| AuthorId | Int | Author Id |
| Name | Nvarchar | Author Name (as written on paper) | 
| Affiliation | Nvarchar | Author Affiliation (as written on paper) |

In [2]:
paperauthor_df = pd.read_csv('../data/dataRev2/PaperAuthor.csv')

#### display data

In [3]:
print(len(paperauthor_df))
paperauthor_df.head()

12775821

,PaperId,AuthorId,Name,Affiliation
0,1,521630,Ayman Kaheel,Cairo Microsoft Innovation Lab
1,1,972575,Mahmoud Refaat,Cairo Microsoft Innovation Lab
2,1,1528710,Ahmed Abdul-hamid,Cairo Microsoft Innovation Lab
3,1,1611750,Motaz Ahmad El-saban,Cairo Microsoft Innovation Lab
4,2,1682088,Julio D. Rossi,"Departamento Matemática, FCEyN UBA (1428) Buen..."

#### number of NaN in data

In [4]:
((paperauthor_df.isnull().sum(axis=0)).to_frame('MissingCount')).join(paperauthor_df.dtypes.to_frame('dtype'))

             MissingCount   dtype
PaperId                 0   int64
AuthorId                0   int64
Name                  327  object
Affiliation       8360940  object